<%= render 'karaoke/player_status' %>

<br>

<% if @chosen_singer %>
  <h1 class="section-title"><%= @chosen_singer.name %></h1>
<% elsif @chosen_playlist %>
  <h1 class="section-title"><%= @chosen_playlist.name %></h1>
<% else %>
  <h1 class="section-title">Songs</h1>
  <%= render 'search_form' %>
  <p>Browse titles starting with</p>
  <%= render 'atoz_form' %>
<% end %>

<br>

<%= render 'songs_list' %>
